In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import nltk

df = pd.read_csv('/kaggle/input/cleanhomeuserreview/wct_posts_copy.csv')
print(df.shape)
df = df.head(5)
print(df.shape)

(5, 10)
(5, 10)

In [22]:
df.head()

,id,title,note,uid,username,ndate,img,type,pid,sdate
0,8,Great user experience!,<p>Very clean and very fast</p>,80,Boyi,2023-03-07 01:28:39,NaN,1,NaN,NaN
1,9,wash clothes,<p>Very good service attitude. They wash cloth...,80,Boyi,2023-04-23 10:31:00,NaN,1,NaN,NaN
2,10,bad user experience,"<p>Bad user experience, they repaired the wash...",82,user1,2023-04-23 10:39:22,NaN,1,NaN,NaN
3,11,washing clothes,<p>Very nice work!</p>,82,user1,2023-04-23 10:39:55,NaN,1,NaN,NaN
4,12,housekeeping,"<p>Excellent service, the whole room was clean...",82,user1,2023-04-23 10:41:11,NaN,1,NaN,NaN

In [23]:
example = df['note'][1]
print(example)

<p>Very good service attitude. They wash clothes of different colors separately.</p>

In [24]:
tokens = nltk.word_tokenize(example)
tokens[:10]

['<', 'p', '>', 'Very', 'good', 'service', 'attitude', '.', 'They', 'wash']

In [25]:
tagged = nltk.pos_tag(tokens)
tagged[:10]

[('<', 'JJ'),
 ('p', 'NN'),
 ('>', 'JJ'),
 ('Very', 'RB'),
 ('good', 'JJ'),
 ('service', 'NN'),
 ('attitude', 'NN'),
 ('.', '.'),
 ('They', 'PRP'),
 ('wash', 'VBP')]

In [26]:
entities = nltk.chunk.ne_chunk(tagged)
entities.pprint()

(S
  </JJ
  p/NN
  >/JJ
  Very/RB
  good/JJ
  service/NN
  attitude/NN
  ./.
  They/PRP
  wash/VBP
  clothes/NNS
  of/IN
  different/JJ
  colors/NNS
  separately./VBP
  </JJ
  /p/NNP
  >/NN)

In [32]:
from nltk.sentiment import SentimentIntensityAnalyzer
from tqdm.notebook import tqdm

sia = SentimentIntensityAnalyzer()

In [33]:
sia.polarity_scores('I am so happy!')

{'neg': 0.0, 'neu': 0.318, 'pos': 0.682, 'compound': 0.6468}

In [34]:
sia.polarity_scores('This is the worst thing ever.')

{'neg': 0.451, 'neu': 0.549, 'pos': 0.0, 'compound': -0.6249}

In [35]:
sia.polarity_scores(example)

{'neg': 0.0, 'neu': 0.775, 'pos': 0.225, 'compound': 0.4404}

In [40]:
res = {}
for i, row in tqdm(df.iterrows(), total=len(df)):
    note = row['note']
    myid = row['id']
    res[myid] = sia.polarity_scores(note)

  0%|          | 0/5 [00:00<?, ?it/s]

In [41]:
vaders = pd.DataFrame(res).T
vaders = vaders.reset_index().rename(columns={'index': 'id'})
vaders = vaders.merge(df, how='left')

In [42]:
vaders.head()

,id,neg,neu,pos,compound,title,note,uid,username,ndate,img,type,pid,sdate
0,8,0.0,0.597,0.403,0.4019,Great user experience!,<p>Very clean and very fast</p>,80,Boyi,2023-03-07 01:28:39,NaN,1,NaN,NaN
1,9,0.0,0.775,0.225,0.4404,wash clothes,<p>Very good service attitude. They wash cloth...,80,Boyi,2023-04-23 10:31:00,NaN,1,NaN,NaN
2,10,0.0,1.000,0.000,0.0000,bad user experience,"<p>Bad user experience, they repaired the wash...",82,user1,2023-04-23 10:39:22,NaN,1,NaN,NaN
3,11,0.0,0.393,0.607,0.4753,washing clothes,<p>Very nice work!</p>,82,user1,2023-04-23 10:39:55,NaN,1,NaN,NaN
4,12,0.0,1.000,0.000,0.0000,housekeeping,"<p>Excellent service, the whole room was clean...",82,user1,2023-04-23 10:41:11,NaN,1,NaN,NaN